@{
    ViewData["Title"] = "Delete";
}

@model Student

<div class="container mt-3">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h3>Kayıt Silme İşlemi</h3>
        </div>

        <div class="card-body">
            @Model.Name @Model.SurName.ToUpper() kaydını silmek istediğinize emin misiniz?
        </div>

        <div class="card-footer">
            <form method="post" asp-controller="Student" asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                @*Son kullanıcının görmediği bir alandan veri gönderme işlemi*@
                <button class="btn btn-success me-1" type="submit">Onay</button>
                <a asp-controller="Student" asp-action="Index" class="btn btn-primary">Vazgeç</a>
            </form>
        </div>
    </div>
</div>


